/* 
ttf - win 트루타입 
otf - mac 오픈트루타입 포맷
eot - 익스플로어
woff 모던웹 웹오픈폰트포맷
[woff2] woff -?최대 50% 압축 */
/* svg 모바일 */
@font-face { font-family: 'Gilroy-Regular'; src: url(../fonts/Gilroy-Regular.woff2) format('woff2'); font-weight: 400; }
@font-face { font-family: 'Gilroy-Medium'; src: url(../fonts/Gilroy-Medium.woff2) format('woff2'); font-weight: 500; }
@font-face { font-family: 'Gilroy-SemiBold'; src: url(../fonts/Gilroy-SemiBold.woff2) format('woff2'); font-weight: 600; }
@font-face { font-family: 'Gilroy-Bold'; src: url(../fonts/Gilroy-Bold.woff2) format('woff2'); font-weight: 700; }