/* 리셋 */
:root {
  --color-orange:#ee5728;
  --font-kr: 'Gilroy','NotoSansKR',sans-serif;
  --font-er: 'Gilroy','NotoSansKR',sans-serif;
  --font-kr1: 'Gilroy-Regular';
  --font-kr2: 'Gilroy-Medium';
  --font-kr3: 'Gilroy-SemiBold';
  --font-kr4: 'Gilroy-Bold';
}
*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none}
table {border-collapse:collapse;border-spacing:0}
li{
  list-style: none;
}
/* font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

/* 초기 세팅 */

body{
  /* font-family: 'Gilroy','NotoSansKR',Malgun Gothic,'맑은 고딕',Dotum,'돋움',sans-serif; */
  /* font-family:'NotoSansKR',Malgun Gothic,'맑은 고딕',Dotum,'돋움',sans-serif; */
  font-family: var(--font-kr1);
  letter-spacing: -0.8px;
  word-break: break-all;
  color: #333;
  -webkit-text-size-adjust: none;
  
}
